.dt-node:before {
  content: "";
  display: inline-block;
  width: 1rem; }

.dt-node__wrap {
  display: inline-block; }

.dt-node__head {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dt-node__body {
  display: none; }

.dt-node__body--open {
  display: block; }
