.dt-node__icon--folder {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("./folder-close.svg"); }

.dt-node__icon--file {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("./file.svg"); }

.dt-node__icon--open {
  background-image: url("./folder-open.svg"); }
