.dt-node__icon--folder {
  border-top: 0.36rem solid transparent;
  border-bottom: 0.36rem solid transparent;
  border-left: 0.8rem solid black;
  margin: 0 0.04rem;
  display: inline-block;
  transform: rotate(90deg); }

.dt-node__icon--file {
  border-top: 0.36rem solid transparent;
  border-bottom: 0.36rem solid transparent;
  border-left: 0.8rem solid white;
  margin: 0 0.04rem;
  display: inline-block;
  transform: rotate(90deg); }

.dt-node__icon--open {
  transform: rotate(0deg); }
