/**
 * Tree styles
 */
.dt-node {
  font-family: "Helvetica Neue", Helvetica, "microsoft yahei ui", "microsoft yahei", "simhei", Arial, sans-serif; }

.dt-node__head {
  padding: 2px 0; }
  .dt-node__head:hover {
    background-color: #EFF0F4; }

.dt-node__switch--folder {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #58B3D3;
  margin: 5px 0 5px 0.5rem;
  display: inline-block;
  vertical-align: text-bottom;
  transition: transform 0.06s linear; }

.dt-node__switch--file {
  display: none; }

[class^="dt-node__icon"] {
  margin: 0 3px;
  display: inline-block;
  vertical-align: text-bottom; }

.dt-node__icon--folder {
  width: 20px;
  height: 20px;
  background-image: url("./icons/folder-close.svg"); }

.dt-node__icon--file {
  width: 16px;
  height: 16px;
  background-image: url("./icons/file.svg"); }

.dt-node__title {
  line-height: 20px;
  padding: 0 2px; }

.dt-node__title--found {
  color: #fa4659;
  text-shadow: 1px 1px 1px #fa4659; }

.dt-node__title[contenteditable="true"] {
  padding: 1px 3px;
  outline: #59606d solid 1px;
  text-decoration: none; }

.dt-node--open > .dt-node__head > .dt-node__switch {
  transform: rotate(90deg); }

.dt-node--open > .dt-node__head > .dt-node__icon--folder {
  background-image: url("./icons/folder-open.svg"); }

.dt-node--sel > .dt-node__head {
  background-color: #0066CC; }
  .dt-node--sel > .dt-node__head > .dt-node__switch {
    border-left-color: white; }
  .dt-node--sel > .dt-node__head > .dt-node__title {
    color: white; }
  .dt-node--sel > .dt-node__head > .dt-node__icon--file {
    background-image: url("./icons/file-sel.svg"); }
  .dt-node--sel > .dt-node__head > .dt-node__icon--folder {
    background-image: url("./icons/folder-close-sel.svg"); }

[class="dt-node--sel dt-node--open"] > .dt-node__head > .dt-icon--folder {
  background-image: url("./icons/folder-open-sel.svg"); }

.dt-node--selblur > .dt-node__head {
  background-color: #EFF0F4; }

.dt-node--covered > .dt-node__head {
  background-color: #defbc2; }

/**
 * Menu styles
 */
.dt-menu {
  margin: 0.5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  transition: box-shadow 0.1s linear; }
  .dt-menu:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
  .dt-menu ul ul {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    transition: box-shadow 0.1s linear;
    background-color: white; }
    .dt-menu ul ul:hover {
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
  .dt-menu > div {
    padding: 0.5rem 0; }
  .dt-menu::before {
    content: "";
    left: 5px;
    position: absolute;
    top: -18px;
    border: 9px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15); }
  .dt-menu > div::before {
    content: "";
    left: 6px;
    position: absolute;
    top: -16px;
    border: 8px solid transparent;
    border-bottom-color: white; }
  .dt-menu li:hover {
    color: white;
    background-color: #2ea1d9; }
    .dt-menu li:hover ul {
      color: #59606d; }
  .dt-menu li:active {
    background-color: #395ea6; }
  .dt-menu .dt-search {
    padding: 2px 0.5rem;
    line-height: 20px;
    background-color: #f9f5f0; }
    .dt-menu .dt-search:hover, .dt-menu .dt-search:focus {
      box-shadow: 0 0 1px #2ea1d9 inset;
      background-color: white; }
