.dt-node__wrap {
  color: #59606d;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, "microsoft yahei ui", "microsoft yahei", "simhei", Arial, sans-serif; }

.dt-node__head {
  padding: 2px 0; }

.dt-node__title {
  line-height: 16px; }
  .dt-node__title:hover {
    text-decoration: underline; }
  .dt-node__title:active {
    color: #282f44; }

[class^="dt-node__icon"] {
  width: 16px;
  height: 16px;
  margin: 0 3px;
  display: inline-block;
  vertical-align: text-bottom; }

.dt-node__icon--folder {
  background-image: url("./folder-close.svg"); }

.dt-node__icon--file {
  background-image: url("./file.svg"); }

.dt-node__icon--open {
  background-image: url("./folder-open.svg"); }
