/**
 * Tree styles
 */
$icon-size: 20px;
$font-size: 14px;
$font-color: #59606d;
$font-active-color: #282f44;
$font-stack: "Helvetica Neue",
			 Helvetica,
			 'microsoft yahei ui',
			 'microsoft yahei',
			 'simhei',
			 Arial,
			 sans-serif;

$found-color: #fa4659;

$mime-icon:
	'js' 'css' 'html'
	'pic' 'video' 'audio'
	'ppt' 'xls' 'word'
	'txt' 'pdf' 'zip'
	'loading' 'unknown';

$sw-size: 10px;
$sw-color: #499491;

$sel-bg-color: #ffee82;
$selblur-bg-color: #f2ead3;

$cover-color: #defbc2;

@mixin switch($sw-width, $sw-length, $color){
	border-top: $sw-width / 2 solid transparent;
	border-bottom: $sw-width / 2 solid transparent;
	border-left: $sw-length solid $color;
	display: inline-block;
}

.dt-node__head{
	padding: 2px 0;
}

.dt-node__switch{
	@include switch($sw-size, $sw-size, $sw-color);
	margin: ($icon-size - $sw-size) / 2 0;
	vertical-align: text-bottom;
	transition: transform 0.06s linear;
}

.dt-node__switch--hide{
	border-color: transparent;
}

.dt-node__title{
	line-height: $icon-size;
	padding: 0 2px;
	&:hover{
		text-decoration: underline;
	}
	&:active{
		color: $font-active-color;
	}
}

.dt-node__title--found{
	color: $found-color;
	text-shadow: 1px 1px 1px $found-color;
}

.dt-node__title[contenteditable="true"]{
	padding: 1px 3px;
	outline: $font-color solid 1px;
	text-decoration: none;
}

[class^="dt-node__icon"]{
	width: $icon-size;
	height: $icon-size;
	margin: 0 3px;
	display: inline-block;
	vertical-align: text-bottom;
}

@each $icon in $mime-icon{
	.dt-node__icon--#{$icon}{
		background-image: url(#{'./icons/' + $icon + '.svg'});
	}
}

.dt-node__icon--folder{
	background-image: url('./icons/folder-close.svg');
}

.dt-node--open > .dt-node__switch{
	transform: rotate(90deg);
}

.dt-node--open > .dt-node__icon{
	background-image: url('./icons/folder-open.svg');
}

.dt-node--sel > .dt-node__head{
	background-color: $sel-bg-color;
}

.dt-node--selblur > .dt-node__head{
	background-color: $selblur-bg-color;
}

.dt-node--covered > .dt-node__head{
	background-color: $cover-color;
}

/**
 * Menu styles
 */
$arrow-size: 9px;
$menu-border-width: 1px;
$menu-border-color: rgba(0,0,0,0.15);

$menu-bg-color: white;
$menu-border: $menu-border-width solid $menu-border-color;
$menu-hover-color: #2ea1d9;
$menu-active-color: #395ea6;
$menu-shadow: 0 3px 12px rgba(0,0,0,0.15);

$search-color: #f9f5f0;
$search-line-height: 20px;

@mixin menu-border(){
	border: $menu-border;
	border-radius: 2px;
	transition: box-shadow 0.1s linear;
	&:hover{
		box-shadow: $menu-shadow;
	}
}

.dt-menu{
	margin: 0.5rem;
	background-color: $menu-bg-color;
	@include menu-border();

	ul ul{
		@include menu-border();
	}

	&>div{
		padding: 0.5rem 0;
	}

	&::before{
		content: "";
		left: 5px;
		position: absolute;
		top: -$arrow-size * 2;
		border: $arrow-size solid transparent;
		border-bottom-color: $menu-border-color;
	}

	&>div::before{
		content: "";
		left: 5px + $menu-border-width;
		position: absolute;
		top: -($arrow-size - $menu-border-width) * 2;
		border: $arrow-size - $menu-border-width solid transparent;
		border-bottom-color: $menu-bg-color;
	}

	li{
		&:hover{
			color: white;
			background-color: $menu-hover-color;
			ul{
				color: $font-color;
			}
		}
		&:active{
			background-color: $menu-active-color;
		}
	}

	.dt-search{
		padding: 2px 0.5rem;
		line-height: $search-line-height;
		background-color: $search-color;
		&:hover,
		&:focus{
			box-shadow: 0 0 1px $menu-hover-color inset;
			background-color: white;
		}
	}
}
