/**
 * Tree styles
 */
$icon-size: 20px;
$font-size: 14px;
$font-color: #59606d;
$font-active-color: #282f44;
$font-stack: "Helvetica Neue",
			 Helvetica,
			 'microsoft yahei ui',
			 'microsoft yahei',
			 'simhei',
			 Arial,
			 sans-serif;

$mime-icon:
	'js' 'css' 'html'
	'pic' 'video' 'audio'
	'ppt' 'xls' 'word'
	'txt' 'pdf' 'zip'
	'unknown';

.dt-node__wrap{
	color: $font-color;
	font-size: $font-size;
	font-family: $font-stack;
}

.dt-node__head{
	padding: 2px 0;
}

.dt-node__title{
	line-height: $icon-size;
	&:hover{
		text-decoration: underline;
	}
	&:active{
		color: $font-active-color;
	}
}

.dt-node__title[contenteditable="true"]{
	padding: 1px 3px;
	outline: $font-color solid 1px;
	text-decoration: none;
}

[class^="dt-node__icon"]{
	width: $icon-size;
	height: $icon-size;
	margin: 0 3px;
	display: inline-block;
	vertical-align: text-bottom;
}

@each $icon in $mime-icon{
	.dt-node__icon--#{$icon}{
		background-image: url(#{'./icons/' + $icon + '.svg'});
	}
}

.dt-node__icon--folder{
	background-image: url('./icons/folder-close.svg');
}

.dt-node__icon--open{
	background-image: url('./icons/folder-open.svg');
}

/**
 * Menu styles
 */
$menu-hover-color: #2ea1d9;
$menu-active-color: #395ea6;
$menu-shadow-color: #395ea6;

.dt-menu{
	background-color: white;

	ul{
		box-shadow: 1px 1px 2px $menu-shadow-color;
	}

	li{
		&:hover{
			color: white;
			background-color: $menu-hover-color;
			ul{
				color: $font-color;
			}
		}
		&:active{
			background-color: $menu-active-color;
		}
	}
}
