/**
 * Tree styles
 */
$icon-size: 20px;
$font-size: 14px;
$font-color: #59606d;
$font-active-color: #282f44;
$font-stack: "Helvetica Neue",
			 Helvetica,
			 'microsoft yahei ui',
			 'microsoft yahei',
			 'simhei',
			 Arial,
			 sans-serif;

$found-color: #fa4659;

$mime-icon:
	'js' 'css' 'html'
	'pic' 'video' 'audio'
	'ppt' 'xls' 'word'
	'txt' 'pdf' 'zip'
	'unknown';

.dt-node__wrap{
	color: $font-color;
	font-size: $font-size;
	font-family: $font-stack;
}

.dt-node__head{
	padding: 2px 0;
}

.dt-node__title{
	line-height: $icon-size;
	&:hover{
		text-decoration: underline;
	}
	&:active{
		color: $font-active-color;
	}
}

.dt-node__title--found{
	color: $found-color;
	text-shadow: 1px 1px 1px $found-color;
}

.dt-node__title[contenteditable="true"]{
	padding: 1px 3px;
	outline: $font-color solid 1px;
	text-decoration: none;
}

[class^="dt-node__icon"]{
	width: $icon-size;
	height: $icon-size;
	margin: 0 3px;
	display: inline-block;
	vertical-align: text-bottom;
}

@each $icon in $mime-icon{
	.dt-node__icon--#{$icon}{
		background-image: url(#{'./icons/' + $icon + '.svg'});
	}
}

.dt-node__icon--folder{
	background-image: url('./icons/folder-close.svg');
}

.dt-node__icon--open{
	background-image: url('./icons/folder-open.svg');
}

/**
 * Menu styles
 */
$menu-bg-color: white;
$menu-border: 1px solid rgba(0,0,0,0.15);
$menu-hover-color: #2ea1d9;
$menu-active-color: #395ea6;
$menu-shadow: 0 3px 12px rgba(0,0,0,0.15);

$search-line-height: 20px;

@mixin arrow($size, $border-color){
	position: absolute;
	top: -$size * 2;
	border: $size solid transparent;
	border-bottom-color: $border-color;
}

.dt-menu{
	margin: 0.5rem;
	left: 50%;
	background-color: $menu-bg-color;

	&::before{
		content: "";
		left: 5px;
		@include arrow(9px, rgba(0,0,0,0.15));
	}

	&>ul::before{
		content: "";
		left: 5px;
		@include arrow(8px, $menu-bg-color);
	}

	ul{
		border: $menu-border;
		border-radius: 2px;
		transition: box-shadow 0.1s linear;
		&:hover{
			box-shadow: $menu-shadow;
		}
	}

	li{
		&:hover{
			color: white;
			background-color: $menu-hover-color;
			ul{
				color: $font-color;
			}
		}
		&:active{
			background-color: $menu-active-color;
		}
	}

	.dt-search{
		padding: 2px 0.5rem;
		line-height: $search-line-height;
		&:hover,
		&:focus{
			box-shadow: 0 0 1px $menu-hover-color inset;
		}
	}
}
