//variables
$indent: 14px;
$zindex-max: 99999;

//mixins
@mixin user-select-none{
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

//structure
.dt-node:before{
	content: "";
	display: inline-block;
	width: $indent;
}

.dt-node__wrap{
	display: inline-block;
}

.dt-node__head{
	cursor: default;
	position: relative;
	@include user-select-none;
}

.dt-node__body{
	display: none;
}

.dt-node__body--open{
	display: block;
}

.dt-menu{
	position: absolute;
	z-index: $zindex-max;
	ul{
		list-style-type: none;
	}

}
