//variables
$zindex-max: 99999;
$menu-height: 20px;

//mixins
@mixin user-select-none{
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

//structure
.dt-node{
	width: 100%;
}

.dt-node__head{
	cursor: default;
	position: relative;
	@include user-select-none;
}

.dt-node__body{
	display: none;
}

.dt-node--open > .dt-node__body{
	display: block;
}

.dt-menu{
	position: absolute;
	z-index: $zindex-max;

	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	a{
		line-height: $menu-height;
	}

	li{
		padding: 3px 1rem;
		text-align: center;
	}

	&>div>ul>li:nth-last-child(-n+2){
		position: relative;

		ul{
			display: none;
		}

		&:hover ul{
			display: block !important;
			position: absolute !important;
			left: 100% !important;
			top: 0 !important;
		}
	}

	.dt-search{
		outline: none;
		border: none;
	}
}
